# Cohort Analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('float_format', '{:,.2f}'.format)

## Load dataset

In [3]:
online_data= pd.read_excel('dataset/Online Retail.xlsx')
online_data.head()

## Data cleaning
Lets understand the quality of our dataset

In [ ]:
online_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

### Handle duplicate values
In the above output, there are 8 columns with some columns having missing values. In the next cell I will check for duplicate and missing values.

In [ ]:
print(f'There are {online_data.duplicated().sum()} duplicate in the dataset.')

There are 5268 duplicate in the dataset.

In [ ]:
# Drop all duplicate
online_data.drop_duplicates(keep='first', inplace=True)
print(f'There are {online_data.duplicated().sum()} duplicate in the dataset.')

There are 0 duplicate in the dataset.

### Handle missing values

In [ ]:
# Check missing values
online_data.isna().sum().sort_values(ascending=False)

CustomerID     135037
Description      1454
Country             0
UnitPrice           0
InvoiceDate         0
Quantity            0
StockCode           0
InvoiceNo           0
dtype: int64

There are 2 columns with large number of missing values as seen above, how do we handle it? We will have to drop all missing rows in customerID column because it can not be researched or statistically calculated. 

We will also notice that dropping all missing values in customerID eliminate missing values in Description column as well.

In [ ]:
# drop missing values
online_data.dropna(subset=['CustomerID'], inplace=True)

# check missing values after dropping
online_data.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

Remove InvoiceNo that start with C which implies Cancelled transaction.

In [ ]:
online_data=online_data[online_data['InvoiceNo'].str.startswith('C')!= True]

In [ ]:
online_data.describe()

        Quantity  UnitPrice  CustomerID
count 392,732.00 392,732.00  392,732.00
mean       13.15       3.13   15,287.73
std       181.59      22.24    1,713.57
min         1.00       0.00   12,346.00
25%         2.00       1.25   13,955.00
50%         6.00       1.95   15,150.00
75%        12.00       3.75   16,791.00
max    80,995.00   8,142.75   18,287.00

In [ ]:
# the cleaned dataset to be use in rfm
online_data.to_csv('dataset/cleaned_online_data.csv')

## Cohort analysis

Cohort requuirement:

Active month: This will be generated from the invoiceDate column. To get the month each users made a transaction.

Cohort month: This will be generated from the invoiceDate column. To get the first transaction made by each users.

Month since first: This will give each transaction a consecutive label after their first transaction.

Monetary value: Transaction amount in each period.

In [ ]:
# create active month using string from time(strftime) which automatically set the day to 01
online_data['InvoiceMonth'] = online_data['InvoiceDate'].dt.strftime('%Y-%m')

# convert new variable to datetime format
online_data['InvoiceMonth'] = pd.to_datetime(online_data['InvoiceMonth'])
online_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceMonth
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,"17,850.00",United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,"17,850.00",United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,"17,850.00",United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,"17,850.00",United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,"17,850.00",United Kingdom,2010-12-01

In [1]:
# # cohort month
# online_data['CohortMonth'] = online_data.groupby()